<div class="container">
  <mat-toolbar>
    <span>Detalle Plan</span>
    <span class="example-spacer"></span>
    <div>
      <button mat-raised-button style="background-color: darkgray;" routerLink="/menuPrincipal/crearDetalle" >Insertar Detalle Plan</button>
      <button mat-icon-button color="black" routerLink= "/menuPrincipal">
        <mat-icon>home</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <div *ngIf="listDetalles.length > 0">
    <mat-form-field>
      <mat-label>Filtro</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort></table>
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;"> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- ALIMENTACION Column -->
        <ng-container matColumnDef="alimentacion">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;" mat-sort-header> Alimentación</th>
          <td mat-cell *matCellDef="let element"> {{element.alimentacion}} </td>
        </ng-container>

        <!-- HOSPEDAJE Column -->
        <ng-container matColumnDef="hospedaje">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Hospedaje </th>
          <td mat-cell *matCellDef="let element"> {{element.hospedaje}} </td>
        </ng-container>

        <!-- TRANSPORTE Column -->
        <ng-container matColumnDef="transporte">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Transporte </th>
          <td mat-cell *matCellDef="let element"> {{element.transporte}} </td>
        </ng-container>

          <!-- TRASLADOS Column -->
          <ng-container matColumnDef="traslados">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Traslados </th>
            <td mat-cell *matCellDef="let element"> {{element.traslados}} </td>
          </ng-container>

            <!-- Valor Column -->
        <ng-container matColumnDef="valor">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Valor </th>
          <td mat-cell *matCellDef="let element"> {{element.valor}} </td>
        </ng-container>

          <!-- CANTIDAD_NOCHES Column -->
          <ng-container matColumnDef="cantidad_noches">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> No. Noches</th>
            <td mat-cell *matCellDef="let element"> {{element.cantidad_noches}} </td>
          </ng-container>

          <!-- CANTIDAD DIAS Column -->
          <ng-container matColumnDef="cantidad_dias">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> No. Dias </th>
            <td mat-cell *matCellDef="let element"> {{element.cantidad_dias}} </td>
          </ng-container>

          <!-- CREACIÓN Column -->
          <ng-container matColumnDef="fecha_creacion">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Creación </th>
            <td mat-cell *matCellDef="let element"> {{element.fecha_creacion}} </td>
          </ng-container>

            <!-- MODIFICACIÓN Column -->
        <ng-container matColumnDef="fecha_modificacion">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Modificación </th>
          <td mat-cell *matCellDef="let element"> {{element.fecha_modificacion}} </td>
        </ng-container>
          <!-- USU. CREADOR Column -->
          <ng-container matColumnDef="usu_creador">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Creador </th>
            <td mat-cell *matCellDef="let element"> {{element.usu_creador}} </td>
          </ng-container>
            <!-- USU. MODIFICADOR Column -->
        <ng-container matColumnDef="usu_modificador">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Modificador </th>
          <td mat-cell *matCellDef="let element"> {{element.usu_modificador}} </td>
        </ng-container>
          <!-- ESTADO Column -->
          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Estado </th>
            <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
          </ng-container>
           <!-- ID_PLAN Column -->
           <ng-container matColumnDef="id_plan">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> id_plan </th>
            <td mat-cell *matCellDef="let element"> {{element.id_plan}} </td>
          </ng-container>

           <!-- ID_DEST Column -->
           <ng-container matColumnDef="id_dest">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> id_dest </th>
            <td mat-cell *matCellDef="let element"> {{element.id_dest}} </td>
          </ng-container>

            <!-- botones Column -->
            <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element; let i = index"style="text-align:center">
                <a class="botones" style="color:rgb(34, 114, 128)" matTooltip="ver Detalle">
                  <mat-icon>search</mat-icon>
                </a>
                <a  class="botones" [routerLink]="['/menuPrincipal/editarDetalle/',element.numero_identificacion]" style="color:rgb(19, 12, 59)" matTooltip="Editar Detalle">
                  <mat-icon>edit</mat-icon>
                </a>
                <a  class="botones" (click)="eliminarDetalle(i)" style="color:rgb(224, 26, 26)" matTooltip="Eliminar Detalle">
                  <mat-icon>delete</mat-icon>
                </a>
              </td>
            </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

    </div>

  </div>

</div>
<h2 *ngIf="listDetalles.length ==0">
  No hay destinos en la tabla
</h2>

