.example-spacer {
  flex: 1 1 auto;
}
.color{
  background-color:rgb(39, 36, 36);

}
.titulo{
  color: aliceblue;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.icono{
  display: flex;
  

}
