<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
        <mat-card>
          <img mat-card-image src="" alt="">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Destinos</mat-card-title>
          </mat-card-header>
          <mat-card-actions>
            <button mat-button>VER</button>
          </mat-card-actions>
        </mat-card>
        <mat-card>
          <img mat-card-image src="" alt="">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Tipos de destinos</mat-card-title>
          </mat-card-header>
          <mat-card-actions>
            <button mat-button>VER</button>
          </mat-card-actions>
        </mat-card>
        <mat-card>
          <img mat-card-image src="" alt="">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Detalle Plan</mat-card-title>
          </mat-card-header>
          <mat-card-actions>
            <button mat-button>VER</button>
          </mat-card-actions>
        </mat-card>
        <mat-card>
          <img mat-card-image src="" alt="">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Planes</mat-card-title>
          </mat-card-header>
          <mat-card-actions>
            <button mat-button>VER</button>
          </mat-card-actions>
        </mat-card>
        <mat-card>
          <img mat-card-image src="" alt="">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Clientes</mat-card-title>
          </mat-card-header>
          <mat-card-actions>
            <button mat-button>VER</button>
          </mat-card-actions>
        </mat-card>
        <mat-card>
          <img mat-card-image src="" alt="">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Tipo de identificación</mat-card-title>
          </mat-card-header>
          <mat-card-actions>
            <button mat-button>VER</button>
          </mat-card-actions>
        </mat-card>
        <mat-card>
          <img mat-card-image src="" alt="">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Usuarios</mat-card-title>
          </mat-card-header>
          <mat-card-actions>
            <button mat-button>VER</button>
          </mat-card-actions>
        </mat-card>
    </div>
  </div>
</div>
